/* Large Screen Styles */
@media screen and (min-width: 900px) {

    /* Header */
    .top-nav {
        justify-content: center;
    }

    .navigation ul {
        justify-content: center;
    }

    /* Hero Section */
    #hero section {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #hero .home-motto {
        color: #FFFFFF;
        font-size: 70px;
        font-weight: bold;
        text-shadow: 2px 2px 4px #FF8C4C;
        line-height: 1.2;
    }

    /* Footer */
    footer {
        padding: 5px 0;
    }

    /* Home Info Section */
    .homeInfoSection {
        justify-content: space-around;
    }

    .homeInfoSection .card {
        width: 300px;
        margin: 10px;
    }

    /* Weather Section */
    .weatherSection {
        margin-top: 40px;
    }

}