body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: grid;
    background-color: rgb(205, 231, 229);
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2px;
}

#cards section {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

#cards img {
    max-width: 100%;
    border-radius: 10px;
}

#cards h2 {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
}