@media screen and (max-width: 600px) {

  /* Adjust the font size for larger screens */
  body {
    font-size: 1.2em;
  }

  /* Increase the padding for the header */
  header {
    padding: 2rem;
  }

  /* Display the navigation menu in a row */
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  /* Adjust the size of the hero section */
  .hero {
    padding: 100px 0;
  }

  /* Adjust the padding for the sections */
  .current-events,
  .weather,
  .spotlights {
    padding: 40px;
  }

  /* Adjust the padding for the footer */
  footer {
    margin-top: auto;
    text-align: center;
    background-color: #2A2F41;
    color: #F2F5FF;
    padding: 20px;
    width: 100%;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  }

  .sidebar {
    grid-column: 1;
  }

  .main-content {
    grid-column: 2;
  }

  .main-content img:hover {
    /* Add your desired hover effect here */
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}