body {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgb(249, 243, 238);
}

img.lazyload {
    width: 400px;
    height: auto;
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}