@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Cantarell&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.sidebar {
    grid-column: 1;
}

.main-content {
    grid-column: 2;
}

.main-content img:hover {
    /* Add your desired hover effect here */
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

main {
    font-family: "Cantarell", Arial, Helvetica, sans-serif;
    color: black;
    max-width: 800px;
    margin: auto;
}

header {
    display: grid;
    margin: auto;
    max-width: 800px;
    grid-template-columns: 1fr 2fr;
    background-color: #004e98;
}

header img {
    max-width: 200px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}

h1 {
    font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

nav {
    margin-bottom: 20px;
    font-family: "Cantarell", Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 1rem auto;
    text-align: center;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #004e98;
    color: white;
    border-top: #002b53 solid 2px;
}

nav a:hover {
    background-color: white;
    color: #004e98;
}

.card {
    background-color: #f9f9f9;
    border: 2px solid #004e98;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.class {
    background-color: #ebebeb;
    border-radius: 10px;
    border: 1px solid #004e98;
    text-align: center;
    padding: 10px;
}

h3 {
    color: white;
    background-color: #004e98;
    padding: 10px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
    padding: 1rem;
    color: #004e98;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.map-section {
    background-color: #f9f9f9;
    border: 2px solid #004e98;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 1rem auto;
    text-align: center;
}

.map-section iframe {
    display: block;
    margin: 0 auto;
    border: 0;
    max-width: 100%;
    border-radius: 10px;
    width: 780px;
    height: 450px;
}

footer {
    margin: auto;
    background-color: #c0c0c0;
    max-width: 800px;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 12rem;
        right: 1rem;
    }

    #menu::before {
        content: "⬇️";
    }

    #menu.open::before {
        content: "❌";
    }

    .open a {
        display: block;
    }

    .stuff {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #bed;
        max-width: 580px;
        height: 100vh;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #333;
        color: #fff;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }

    .open a {
        display: block;
    }
}